<div id="form-container">
  <form action="post">
    <label for="first-name">First Name</label>
    <input id="first-name" type="text" />
    <label for="last-name">First Name</label>
    <input id="last-name" type="text" />
    <label for="email">First Name</label>
    <input id="email" type="email" />
    <label for="phone-number">First Name</label>
    <input id="phone-number" type="tel" />
    <label for="fav-language">First Name</label>
    <label for="fav-language">Favourite Language</label>
    <select name="" id="fav-language">
      <option value="language" *ngFor="let language of languages">
        {{ language }}
      </option>
    </select>

    <button type="submit">Send Message</button>
  </form>
</div>
