<div id="form-container" class="m-3">
  <form #formName="ngForm" action="post" novalidate (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        name="firstName"
        class="form-control"
        type="text"
        #firstName="ngModel"
        [(ngModel)]="friendModel.firstName"
        ngModel
        required
        [class.redOutline]="firstName.invalid && firstName.touched"
        pattern="[a-zA-Z]+"
      />
      <span class="emptySpan" *ngIf="firstName.errors?.['required']"
        >This field can not be empty</span
      >
      <span class="alert-danger" *ngIf="firstName.errors?.['pattern']"
        >Please enter a valid name</span
      >
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        name="lastName"
        class="form-control"
        type="text"
        #lastName="ngModel"
        [(ngModel)]="friendModel.lastName"
        ngModel
        required
        [class.redOutline]="lastName.invalid && lastName.touched"
        pattern="[a-zA-Z]+"
      />
      <span class="emptySpan" *ngIf="lastName.errors?.['required']"
        >This field can not be empty</span
      >
      <span class="alert-danger" *ngIf="lastName.errors?.['pattern']"
        >Please enter a valid last name</span
      >
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        name="email"
        class="form-control"
        type="email"
        #email="ngModel"
        [(ngModel)]="friendModel.email"
        ngModel
        required
        [class.redOutline]="email.invalid && email.touched"
        [email]="true"
      />
      <span class="emptySpan" *ngIf="email.errors?.['required']"
        >This field can not be empty</span
      >
      <span class="alert-danger" *ngIf="email.errors?.['email']"
        >Please enter a valid email</span
      >
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input
        name="phoneNumber"
        class="form-control"
        type="tel"
        #phoneNumber="ngModel"
        [(ngModel)]="friendModel.phoneNumber"
        ngModel
        required
        [class.redOutline]="phoneNumber.invalid && phoneNumber.touched"
        pattern="^(((\+|00)32[ ]?(?:\(0\)[ ]?)?)|0){1}(4(60|[789]\d)\/?(\s?\d{2}\.?){2}(\s?\d{2})|(\d\/?\s?\d{3}|\d{2}\/?\s?\d{2})(\.?\s?\d{2}){2})$"
      />
      <span class="emptySpan" *ngIf="phoneNumber.errors?.['required']"
        >This field can not be empty</span
      >
      <span class="alert-danger" *ngIf="phoneNumber.errors?.['pattern']"
        >Please enter a valid phone number</span
      >
    </div>
    <div id="languageInput" class="form-group">
      <label for="favouriteLanguage">Favourite Language</label>
      <select
        name="favouriteLanguage"
        #favouriteLanguage="ngModel"
        [(ngModel)]="friendModel.favouriteLanguage"
        ngModel
        required
        [class.redOutline]="
          favouriteLanguage.invalid && favouriteLanguage.touched
        "
      >
        <option value="{{ language }}" *ngFor="let language of languages">
          {{ language }}
        </option>
      </select>
      <span class="emptySpan" *ngIf="favouriteLanguage.errors?.['required']"
        >This field can not be empty</span
      >
      <span class="alert-danger" *ngIf="favouriteLanguage.errors?.['pattern']"
        >Please enter a valid language</span
      >
    </div>
    <div class="form-group">
      <button
        class="btn btn-primary"
        [disabled]="formName.form.invalid"
        type="submit"
      >
        Send Message
      </button>
    </div>
  </form>
</div>
