.redOutline {
  border: 1px solid red;
}

.emptySpan {
  font-size: 10px;
}

#languageInput {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

#languageInput > span {
  top: 60px;
}

.form-group {
  margin-bottom: 30px;
  position: relative;
}

.form-group > span {
  position: absolute;
}
