{{ friendModel | json }}
<div id="form-container" class="m-3">
  <form #formName="ngForm" action="post">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        name="firstName"
        class="form-control"
        type="text"
        #firstName="ngModel"
        [(ngModel)]="friendModel.firstName"
        ngModel
        required
        [class.alert-danger]="firstName.invalid && firstName.touched"
      />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        name="lastName"
        class="form-control"
        type="text"
        #lastName="ngModel"
        [(ngModel)]="friendModel.lastName"
        ngModel
        required
        [class.alert-danger]="lastName.invalid && lastName.touched"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        name="email"
        class="form-control"
        type="email"
        #email="ngModel"
        [(ngModel)]="friendModel.email"
        ngModel
        required
        [class.alert-danger]="email.invalid && email.touched"
      />
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input
        name="phoneNumber"
        class="form-control"
        type="tel"
        #phoneNumber="ngModel"
        [(ngModel)]="friendModel.phoneNumber"
        ngModel
        required
        [class.alert-danger]="phoneNumber.invalid && phoneNumber.touched"
      />
    </div>
    <div class="form-group">
      <label for="favouriteLanguage">Favourite Language</label>
      <select
        name="favouriteLanguage"
        #favouriteLanguage="ngModel"
        [(ngModel)]="friendModel.favouriteLanguage"
        ngModel
        required
        [class.alert-danger]="
          favouriteLanguage.invalid && favouriteLanguage.touched
        "
      >
        <option value="{{ language }}" *ngFor="let language of languages">
          {{ language }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <button type="submit">Send Message</button>
    </div>
  </form>
</div>
